html
  head
  body
    
    form(action='/' method='post')
      input(type="text" name='title')
      input(type="submit")
    form(action="/history" method="get")
      input(type="submit" name="upvote" value="history")
    
    pre= stdout